/*Background Image for Contact Us page>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
body{
    background-image: url("media/background3.jpg");
    background-size: cover;
}

/*CSS styling for HEADER>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 3px;
    
}
.nav-links{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.nav-links li{
    margin: 0 15;
}
.nav-links li a{
    text-decoration: none;
}

/*CSS for FORM >>>>>>>>>>>>>>>>>>*/
form{
    background-color: #FFFFFF;
    padding: 3px;
    padding-top: 30px;
    border-radius: 10px;
    width: 20%;
    height: 30%;
}